new world

<h1 class="text-3xl font-bold underline">
    Hello world!
</h1>

<div>
<button class="btn">Button</button>
<button class="btn btn-primary">Primary</button>
</div>

<div class="card bg-base-100 w-96 shadow-xl">
  <figure>
    <img
      src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
      alt="Shoes" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">Shoes!</h2>
    <p>If a dog chews shoes whose shoes does he choose?</p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">Buy Now</button>
    </div>
  </div>
</div>

<div>
<span class="countdown font-mono text-2xl">
  <span style="--value:10;"></span>
  :
  <span style="--value:24;"></span>
  :
  <span style="--value:${counter};"></span>
</span>
</div>

<div class="diff aspect-[16/9]">
  <div class="diff-item-1">
    <img alt="daisy" src="https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp" />
  </div>
  <div class="diff-item-2">
    <img
      alt="daisy"
      src="https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a-bw.webp" />
  </div>
  <div class="diff-resizer"></div>
</div>
