<!doctype html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>This is an e-mail message to login <a href="https://app.sola.day">https://app.sola.day</a></p>
    <h1>Sign in code: <%= @code %></h1>
  </body>
</html>
