<!doctype html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>This is an e-mail message to join event <a href="https://app.sola.day"><%= @event.title %></a></p>
  </body>
</html>
